/* Colors taken from the Obsidian Rainbow folder colors thing I got
$color00: #e22c3c; //--red
$color01: #e9404b; //--red-orange
$color02: #ee6748; //--orange
$color03: #fa9f50; //--amber
$color04: #ffd85e; //--yellow
$color05: #97e768; //--lime
$color06: #52eea3; //--mint
$color07: #51e1e9; //--cyan
$color08: #43cfea; //--cool-cyan
$color09: #54b6f8; //--light-blue
$color10: #437cf3; //--blue
$color11: #6f51f4; //--blue-violet
$color12: #9446f8; //--violet
$color13: #c952ed; //--purple
$color14: #e54f9b; //--magenta
$color15: #e3365e; //--hot-red
*/